footer{
    background-color: var(--black);
}
.navigation a{
    padding: 5px 0;
    font-size: 22px;
    font-weight: 400;
    transition: all 0.3s linear;
}
.navigation a:hover, .navigation a.active{
    color: var(--primary-color);
}
.contact-details-section li{
    font-size: 18px;
    font-weight: 400;
}
