.hero-section{
    padding: 50px 20px;
    height: 100vh;
    min-height: 700px;
}

.about-img{
    height: 650px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}
.content-section p{
    line-height: 1.6;
}

/* Why Choose Section Border CSS */
.why-choose-section .content-box {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-block-start: 2px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
    position: relative;
}

.why-choose-section .content-box:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    width: 0;
    background-color: rgb(255, 152, 0);
    -webkit-transition: 0.6s cubic-bezier(0, 0, 0.3642, 1);
    transition: 0.6s cubic-bezier(0, 0, 0.3642, 1);
}

.why-choose-section .content-box:hover:before {
 width: 100%;

}

.why-choose-section .content-box:hover .aeroBtn svg{
    transform: scale(1);
    filter: grayscale(0);
}
.why-choose-section .content-box .aeroBtn svg{    
    transform: scale(0.4);
    transition: all .7s cubic-bezier(.47,1.64,.41,.8);
    filter: grayscale(100);   
}

/* End */


/* Only Desktop Screen Code  */
@media (min-width:1024px) {
    
}


/* Tablet & mobile Both screen css  */
@media (max-width: 1024px) { 

    
}

/* Tablet  screen code  */
@media only screen and (min-width: 768px) and (max-width: 1024px) { 


}


/* Mobile screen Only code  */
@media (max-width: 767px) { 
    .hero-section{
        padding: 50px 20px;
        height: 100%;
        min-height: 100px !important;
    }
    .about-img{
        height: 350px;
        width: 100%;
        object-fit: cover;
        object-position: center center;
    }
    
}