@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



/* Global Settings */  
*{
    font-family: "Outfit", sans-serif;
}
/* typography */
h1{
    font-size: 75px;
    line-height: 1.2em;
    font-weight: 500;
}
h2{
    font-size: 48px;
    line-height: 1.2em;
    font-weight: 500;
}
h2.big-heading{
    font-size: 4.5em;
    line-height: 1.2em;
    font-weight: 500;
}
h3{
    font-size: 24px;
    line-height: 1.4em;
    font-weight: 500;
}
h4{
    font-size: 20px;
    line-height: 1.4em;
    font-weight: 500;
}
p{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.5px;
    word-spacing: 0.5px;
}

.text-light{
    font-weight: 100;
}

.section{
    padding-left: 20px;
    padding-right: 20px;
}
:root{
    --primary-color: #ff9800;
    --hover-color: #ffa51f;
    --white:#fff;
    --black:#000;
    --text-color:#00000080;
    --accent-color:#f2f2f2;
}


/* Primary Button  */
.primaryBtn,
.contact-button{
    display: flex;
    width: max-content;
    background: var(--primary-color);
    justify-content: center;
    align-items: center;
    color: var(--black);
    font-size: 14px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    font-weight: 600;
}
.primaryBtn:hover svg.mil-arrow,
.contact-button:hover svg.mil-arrow{
    transform: scale(1.15) rotate(45deg);
    transition: all .7s cubic-bezier(.47,1.64,.41,.8);
    
}
.primaryBtn:hover,
.contact-button:hover{
    background-color: var(--hover-color);
}
.primaryBtn svg.mil-arrow,
.contact-button svg.mil-arrow {
    height: 35px;
    width: 35px;
    fill: var(--white);
    padding: 7px;
    margin-left: 15px;
    background: var(--black);
    border-radius: 50%;
    transition: all .4s cubic-bezier(.47,1.64,.41,.8);
}
/* END */


/* Secondary Button  */
.secondaryBtn{
    display: flex;
    width: max-content;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background-color: var(--black);
    font-size: 14px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    font-weight: 600;
}
.secondaryBtn:hover svg.mil-arrow{
    transform: scale(1.15) translateX(3px);
    transition: all .7s cubic-bezier(.47,1.64,.41,.8);    
}
.secondaryBtn svg.mil-arrow {
    height: 35px;
    width: 35px;
    fill: var(--white);
    padding: 7px;
    margin-left: 15px;
    border-radius: 50%;
    transition: all .4s cubic-bezier(.47,1.64,.41,.8);
}
/* END */
/* Scroll To next button Css */
.scroll-con img{   
    transition: all .4s cubic-bezier(.47,1.64,.41,.8) !important;
}
.scroll-con:hover img{
    opacity: 0.6;
}
/* END */

#scroll-icon {
    transition: transform 1s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  }
  .scroll-con {
    display: flex;
  }
  

/* reponsive code boilerplate */

/* Only Desktop Screen Code  */
@media (min-width:1024px) {
    
}

/* Tablet & mobile Both screen css  */
@media (max-width: 1024px) { 
 
}

/* Tablet  screen code  */
@media only screen and (min-width: 768px) and (max-width: 1024px) { 
   
    h1{
        font-size: 58px;
        line-height: 1.2em;
        font-weight: 500;
    }
    h2{
        font-size: 48px;
        line-height: 1.2em;
        font-weight: 500;
    }
    h2.big-heading{
        font-size: 4em;
        line-height: 1.2em;
        font-weight: 500;
    }
    h3{
        font-size: 22px;
        line-height: 1.3em;
        font-weight: 500;
    }
    h4{
        font-size: 20px;
        line-height: 1.4em;
        font-weight: 500;
    }

}

/* Mobile screen Only code  */
@media (max-width: 767px) { 
    h1{
        font-size: 52px;
        line-height: 1.3em;
        font-weight: 500;
    }
    h2{
        font-size: 42px;
        line-height: 1.2em;
        font-weight: 500;
    }
    h2.big-heading{
        font-size: 2.5em;
        line-height: 1.2em;
        font-weight: 500;
    }
    h3{
        font-size: 24px;
        line-height: 1.4em;
        font-weight: 500;
    }
    h4{
        font-size: 20px;
        line-height: 1.4em;
        font-weight: 500;
    }    
}
    